{% extends 'index.html' %}
{% load static %}
{% block content %}

<section class="about-intro">
    <div class="about-content-container">
        <h2>Who are we?</h2>
        <p>{{ team_description }}</p>
    </div>
    <div class="about-image-container">
        {% if team_image %}
            <img src="{{ team_image }}" alt="Team Image" class="about-image">
        {% endif %}
    </div>
</section>

<section class="about-page">
    <div class="about-left">
        <!--<div class="image-card">
            <img src="{% static 'img/about.jpg' %}" alt="About Us" class="about-image">
        </div>-->
    </div>
    <div class="about-right">
        <div class="content-container">
            <h2 class="h-text">What can you find here?</h2>
            <ul class="about-right">
                {% for item in what_you_can_find %}
                    <li class="li-about">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="about-details">
    <div class="about-content-section">
        <h2 class="h-text">Why do we do it?</h2>
        <p>{{ why_we_do_it }}</p>
    </div>

    <div class="about-content-section">
        <h2 class="h-text">Our Core Values</h2>
        <ul>
            {% for value in core_values %}
                <li class="l-about">{{ value }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="about-content-section">
        <h2 class="h-text">Get to know us better</h2>
        <p class="p-text">You can contact us through:</p>
        <ul class="u-link">
            <li class="l-link"><a href="mailto:{{ contact_email }}">{{ contact_email }}</a></li>
            <li class="l-link"><a href="{{ facebook_url }}" target="_blank">Facebook</a></li>
            <li class="l-link"><a href="{{ whatsapp_url }}" target="_blank">Whatsapp</a></li>
        </ul>
        <p class="p-text">We'd love to hear from you!</p>
    </div>
</section>

<footer class="about-content-footer">
    <p class="p-footer">So, get ready to browse our collection of articles and news! Don't hesitate to leave us your comments or suggestions, we would love to hear from you!</p>
    <p class="p-footer">{{ footer_message }}</p>
    <div class="container-about-logos">
        <a href="{% url 'home' %}" class="a-logo">
            <img src="{% static 'logos/logo2.png' %}" alt="Logo" class="logo-about">
        </a>
        <a href="{% url 'home' %}" class="a-logo">
            <img src="{% static 'logos/logo.png' %}" alt="Logo" class="logo-about">
        </a>
    </div>
</footer>

{% include 'slide.html' %}

{% endblock %}