{% load static %}

<body>
    <div class="chat-container" id="chat-container">
        <div class="message-container" id="message-container">
            <!-- Aquí se mostrarán los mensajes -->
        </div>
        <form id="chat-form">
            {% csrf_token %}
            <input type="text" name="question" id="question" placeholder="Escribe tu pregunta aquí..." required>
            <button type="submit">Enviar</button>
        </form>
        {% if answer %}
            <div class="message bot-message">
                <strong>Bot:</strong> <span>{{ answer|safe }}</span>
            </div>
        {% endif %}
    </div>

    <button class="chat-toggle" id="chat-toggle">
        <i class="fas fa-comment-dots"></i>
    </button>

</body>
