{% load static %}
<div class="general-navbar">
    <div class="navbar-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'logos/logo.png' %}" alt="Logo" class="logo">
        </a>
    </div>
    <nav class="navbar">
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="navbar-list">
            <li><a href="{% url 'home' %}" class="navbar-link">Home</a></li>
            <li><a href="{% url 'about' %}" class="navbar-link">About</a></li>
            <li><a href="{% url 'services' %}" class="navbar-link">Services</a></li>
            <li><a href="{% url 'contact' %}" class="navbar-link">Contact</a></li>
        <div/>
    </nav>
</div>

<!--<div class="search-container">
    <form action="{% url 'search' %}" method="get" class="search-form">
        <div class="search">
            <input type="text" placeholder="Search..." name="search" required class="search-input">
            <button type="submit" class="search-button">🔍</button>
        </div>
    </form>
</div>-->


