{% load static %}

<!-- New Section for SLIDE -->
<div class="container-slide-section">
    <div class="slide-section">
        <div class="slide-container">
            <div class="card-wrapper"> <!-- Contenedor adicional para el autoslide -->
                {% for image in images %}
                    <div class="card-slide">
                        <img src="{{ image.image.url }}" alt="Imagen" class="card-image-slide">
                        <div class="card-content-slide">
                            <h3 class="card-title-slide">{{ image.title }}</h3>
                            <p class="card-description-slide">{{ image.description }}</p>
                            <a href="{{ image.link }}" target="_blank" class="link-card-slide">get it here</a>
                        </div>
                    </div>
                {% empty %}
                    <p>No images available..</p>
                {% endfor %}
            </div>
        </div>
      
    </div>
      <!-- Botones de navegación -->
      <button class="prev">Prev</button>
      <button class="next">Next</button>
</div>

