/* comentarios.css */

/* Estilos para la sección de comentarios */
.comments-section {
    max-width: 100%; /* max-w-2xl */
    margin: auto; /* mx-auto */
    padding: 1.5rem; /* p-6 */
    background-color: rgba(209, 191, 247, 0.147); /* bg-white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    border-radius: 0.5rem; /* rounded-lg */
}

.comments-section h2 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    margin-bottom: 1rem; /* mb-4 */
}

.comments-section p {
    color: #4B5563; /* text-gray-600 */
    margin-bottom: 1rem; /* mb-4 */
}

.comments-section a {
    color: #2a04a7; /* text-blue-500 */
}

.comments-section a:hover {
    text-decoration: none; /* hover:underline */
    color: #3B82F6; /* text-blue-500 */
}

.comments-section form {
    margin-bottom: 1.5rem; /* mb-6 */
}

.comments-section textarea {
    width: 100%; /* w-full */
    padding: 0.5rem; /* p-2 */
    border: 1px solid #D1D5DB; /* border border-gray-300 */
    border-radius: 0.375rem; /* rounded-md */
    outline: none; /* focus:outline-none */
    background-color: rgba(209, 191, 247, 0.147); 
}

.comments-section textarea:focus {
    box-shadow: 0 0 0 2px #3B82F6; /* Efecto similar a ring */
    outline: none; /* Elimina el contorno predeterminado */
}
.comments-section button {
    margin-top: 0.5rem; /* mt-2 */
    padding: 0.5rem 1rem; /* px-4 py-2 */
    background-color: #3b82f6; /* bg-blue-500 */
    color: white; /* text-white */
    font-weight: 600; /* font-semibold */
    border-radius: 0.375rem; /* rounded-md */
    transition: background-color 0.2s; /* transition duration-200 */
}

.comments-section button:hover {
    background-color: #a2bcf4; /* hover:bg-blue-600 */
}

.comments-section h3 {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.5rem; /* mb-2 */
}

.comments-section ul {
    margin: 0; /* reset margin */
    padding: 0; /* reset padding */
}

.comments-section li {
    padding: 1rem; /* p-4 */
    background-color: (209, 191, 247, 0.425);
    border-radius: 0.375rem; /* rounded-md */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* shadow-sm */
    margin-bottom: 1rem; /* space-y-4 */
}

.comments-section strong {
    color: #3B82F6; /* text-blue-600 */
}

.comments-section span {
    color: #1F2937; /* text-gray-800 */
}

.comments-section em {
    display: block; /* block */
    color: #6B7280; /* text-gray-500 */
    font-size: 0.875rem; /* text-sm */
}