/* Estilo para el scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(139, 145, 255, 0.329); /* Color de fondo del track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.634); /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados para el thumb */
  }