
.title-results{
    display: flex;
    font-size: 24px;
    margin-left: 20px;
}

.search-results {
    margin: 20px;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffffcd; /* Color de fondo azul claro */
}

.search-results .result-item {
    padding: 10px; /* Aumentar el padding para mejor presentación */
    margin-bottom: 10px; /* Espacio entre resultados */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

.search-results h3 {
    font-size: 24px;
    margin: 0; /* Eliminar margen por defecto en el encabezado */
    color: #3d3d3d; /* Color azul para el título */
}

.search-results small {
    color: #333; /* Color gris para la fecha */
}